*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list-container {
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
  position: relative;
}

.result .result__video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 32px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  height: 103px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block; 
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;

  /*Стили для обрезки текста на несколько строк (например, 2 строки)
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ограничение на 2 строки
  -webkit-box-orient: vertical;
  overflow: hidden;*/
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 225px;
  height: 27px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  appearance: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px; 
  padding: 6px 73.5px;
  cursor: pointer;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding-inline: 3px;
  width: 100%;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.preloader {
  position: absolute;
}